hypai/hypai/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hyp_connect" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hyp_connect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad" nillable="true" type="tns:Ad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd" nillable="true" type="tns:ArrayOfAd" />
  <xs:complexType name="Ad">
    <xs:sequence>
      <xs:element minOccurs="0" name="AD_ID" type="xs:int" />
      <xs:element minOccurs="0" name="AD_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDIO_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE_DURATION" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ad" nillable="true" type="tns:Ad" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_STATUS" type="xs:int" />
      <xs:element minOccurs="0" name="REPORT_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
</xs:schema>