hypai/hypai/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58876/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/hyp_connect" />
  <xs:element name="getAllAds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="getAllAdsResult" nillable="true" type="q1:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="ad" nillable="true" type="q2:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="addAdResult" nillable="true" type="q3:Ad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="getAllReportsResult" nillable="true" type="q4:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="report" nillable="true" type="q5:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/hyp_connect" minOccurs="0" name="addReportResult" nillable="true" type="q6:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReportRSTATUS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="newStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReportRSTATUSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>